@charset "utf-8";
@import url(fonts.css);

/* 공통 */
html {font-size: 0.625rem;}
body {font-family: 'Pretendard-Regular', sans-serif; font-size: 1.6rem; color: rgba(0,0,0,0.8); font-weight: 500;}
main {width: 100%; height: 100vh;}
section {width: 100%; height: 100%; overflow: hidden;}
section .inner {display: none; position: relative; width: 1200px; height: 100%; margin: 0 auto;}
section .inner .pl {position: absolute; top: 50% /* 0 50 100 */; left: 0; transform: translateY(-50%);}
section .inner .pr {position: absolute; top: 50% /* 0 50 100 */; right: 0; transform: translateY(-50%);}
.blue {color: #0066ff;}
h2 {font-size: 5.6rem; margin-bottom: 0.714em;}

/* dim */
.dim {position: fixed; z-index: -1;}
.dimCenter {top: 50%; left: -300px; transform: translate(-50%,-50%); width: 520px; height: 520px;}
.dimCenter img {width: 520px; height: 520px; animation: rotate_image 6s linear infinite; transform-origin: 50% 50%;}
@keyframes rotate_image{
    100% {
        transform: rotate(-360deg);
    }
}
.dimSide {top: 80%; left: -300px; transform: translate(-50%,-50%); width: 900px; height: 900px;}
.dimSide img {display: none; width: 900px; height: 900px;}
.dimIntro {top: 0; right: -100px; width: 1150px; height: 1150px;}
.dimIntro img {display: none; width: 1150px; height: 1150px; animation: rotate_main 20s linear infinite; transform-origin: 50% 50%;}
@keyframes rotate_main{
    100% {
        transform: rotate(360deg);
    }
}

/* header */
header {position: fixed; top: 0; left: 0; right: 0; z-index: 10;}
header .inner {width: calc(100% - 160px); margin: 50px 80px 0;}
header .logo {float: left; font-size: 2.4rem;}
header .btnMenu {float: right; position: relative; width: 35px; height: 35px;}
header .btnMenu a {position: absolute; top: 0; left: 0; width: 35px; height: auto;}
header .btnMenu a:nth-child(1) {display: none;}

/* menu */
.menu {display: none; position: fixed; width: 100%; height: 100vh; z-index: 20;}
.menuGroup {position: absolute; top: 0; right: -400px; width: 400px; height: 100%; background: rgb(34, 34, 34, 0.95);}
.menuGroup > a {position: fixed; top: 50px; right: 85px;}
.menuGroup > a img {width: 26px; height: 26px;}
.menu ul {position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%);}
.menu ul li {text-align: center; margin: 80px 0; color: rgb(255, 255, 255, 0.6); }
.menu ul li a {position: relative; text-align: center; font-size: 2.4rem; font-weight: 400; transition: all 0.2s;}
.menu ul li a:after {content: ''; position: absolute; bottom: -5px; left: 0; width: 0; height: 1px; margin-left: 10%; background: #fff; transition: all 0.4s;}
.menu ul li a:hover {color: #fff}
.menu ul li a:hover:after {width: 80%;}
.menu ul li.on {color: #fff;}
.menu ul li.on a:after {width: 80%;}
.dimMenu {width: 100%; height: 100%; background: rgb(51, 51, 51, 0.7);}

/* intro */
#intro .inner .pl {top: 100%;}
#intro p {margin-bottom: 20px; font-weight: 700;}
#intro .title01 {font-size: 70px;}
#intro .title02 {font-size: 85px;}
#intro .title03 {font-size: 100px;}

/* about */
#about .title {font-size: 3.2rem; margin-bottom: 0.937em; color: rgba(0,0,0,0.9);}
#about .desc {font-size: 2.4rem; font-weight: 500; line-height: 1.5; margin-bottom: 1.25em; color: rgba(0,0,0,0.8);}

/* portfolio */
nav {display: block;}
nav ul {position: fixed; top: 50%; left: -170px /* 300px 170px */; transform: translateY(-50%);}
nav ul li {font-size: 2.0rem; margin: 4em 0; color: rgba(0,0,0,0.3); transition: all 0.2s;}
nav ul li a {display: block;}
nav ul li:nth-child(1) {margin-left: -30px;}
nav ul li:nth-child(4) {margin-left: -30px;}
nav ul li.on {color: #0066ff;}
nav ul li:hover,
nav ul li:focus {color: #0066ff;}

.portfolio .descGroup {width: 550px;}
.portfolio .descGroup .title {width: 600px; font-size: 2.4rem; line-height: 1.2; margin-bottom: 1.25em;}
.portfolio .descGroup .tagGroup {margin-bottom: 1.875em;}
.portfolio .descGroup .tagGroup span {display: inline-block; padding: 4px 12px; margin: 0 5px 10px 0; font-size: 1.6rem; font-weight: 400; color: rgb(0, 102, 255, 0.6); border: 1px solid rgb(0, 102, 255, 0.3); border-radius: 100px;}
.portfolio .descGroup .btnGroup a {display: inline-block; width: 140px; height: 50px; line-height: 50px; margin-right: 10px; font-size: 1.8rem;  text-align: center; border: 1px solid rgba(0,0,0,0.3); border-radius: 100px; transition: all 0.2s;}
.portfolio .descGroup .btnGroup a:hover {background: rgba(0,0,0,0.8); color: #fff;}
.portfolio figure {width: 600px;}
.portfolio figure img {box-shadow: 30px 30px 20px rgba(0,0,0,0.3);}
.portfolio figure img.mo {position: absolute; bottom: -20px; right: -100px; border-radius: 20px;}
#cuss figure a {float: left; width: 180px;}
#cuss figure a:nth-child(2) {margin: 0 30px;}
#cuss figure a img {border-radius: 20px;}

/* design */
.dimCenter h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff;}
#design .inner {width: 1400px;}
#design ul li {float: left; width: 230px; margin: 0 15px;}
#design ul li:nth-child(1) {margin-top: 100px;}
#design ul li:nth-child(3) {margin-top: 190px;}
#design ul li a {display: block; margin-bottom: 30px; width: 230px; height: 230px; box-shadow: 20px 20px 20px rgba(0,0,0,0.3); border-radius: 30px;}
#design ul li img {width: 100%; height: 100%;}

.popup {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;}
.popup .dimPopup {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(51, 51, 51, 0.7);}
.popup .popupCont {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.popup .popupCont a {display: block; position: absolute; top: -35px; right: 0; z-index: 15;}
.popup .popupCont a img {width: 20px; height: 20px;}
.popup .popupCont figure img {height: 700px; border-radius: 20px;}

/* contact */
#contact .descGroup {float: left; margin-left: 50px;}
#contact .descGroup p {font-size: 3.2rem; line-height: 1.3;}
#contact .callGroup {float: right;}
#contact .callGroup p {position: relative; font-size: 3.2rem; margin-bottom: 20px; padding: 0 0 0 1.875em;}
#contact .callGroup p:before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 32px; height: 32px; background: url(../img/ico_kakao.png) no-repeat center;}
#contact .callGroup p:nth-child(2):before {background-image: url(../img/ico_email.png);} 
#contact .callGroup p a {background: #fff; color: #333;padding: 0 10px; border-radius: 4px; transition: all 0.2s;}
#contact .callGroup p a:hover {background: #333; color: #fff;}
#contact .copy {position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); opacity: 0.4;}
