@charset "utf-8";
@import url(fonts.css);

#mainVisual {background: url(../img/sub-bg3.jpg) no-repeat center/cover;}
#container .tab02 {display: none; padding: 40px; border: 1px solid #ddd; box-sizing: border-box; text-align: center;}
#container .tab02 img {width: 70px; height: auto; margin-bottom: 20px;}
#container .tab02 p {color: rgba(0,0,0,0.4);}